*{
    margin: 0;
    padding: 0;
}
.main{
    margin: 0 auto;
    width: 1190px;
    overflow: hidden;
}
.head{
    width: 100%;
    height: 95px;
}
.head img{
    float: left;
    margin-top: 38px;
}
.list-fir{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.list-fir li{
    float: left;
    display: inline-block;
    margin-left: 60px;
    list-style-type: none;
    font-size: 16px;
    font-family: 微软雅黑;
}
.list-fir li a{
    text-decoration: none;
    color: #666666;
}
.list-fir li:first-child{
    margin-left: 30px;
}
.screen-fir{
    width: 100%;
    height: 363px;
    background-color: #d0f2fb;
}
.screen-fir .line{
    width: 100%;
    height: 2px;
    background-color: #ff5384;
}
.screen-fir .list-sec{
    float: left;
    width: 200px;
}
.screen-fir .list-sec li{
    padding-left: 30px;
    width: 200px;
    height: 30px;
    color: #666666;
    background-color: #fbfeff;
    border: 1px solid #f6f6f6;
    font-family: 宋体;
    font-size: 14px;
    line-height: 30px;
    list-style-type: none;
}
.screen-fir .list-sec li:hover{
    background-color: #ff5384;
}
.screen-fir .frame-fir{
    position: relative;
    float: left;
    width: 900px;
    height: 360px;
    background: url(../images/pic2.jpg) no-repeat;
}
.screen-fir .frame-fir .button{
    position: absolute;
    left: 400px;
    bottom: 30px;
    width: 18px;
    height: 18px;
    border:1px solid #f6f6f6;
    border-radius:18px;
    background-color: #ffffff;
}
.screen-fir .frame-fir .button2{
    left: 450px;
}
.screen-fir .frame-fir .button3{
    left: 500px;
}
.screen-fir .main{
    position: relative;
}
.screen-fir .hide{
    position: absolute;
    top: 0;
    left: 200px;
    display: none;
    width: 990px;
    height: 360px;
    background-color: #ffffff;
}
.screen-fir .hide .select{
    float: left;
    padding-left: 32px;
    padding-right: 15px;
    padding-top: 32px;
    width: 400px;
    height: 330px;
    background-color: #ffffff;
}
.screen-fir .hide .select .hide-list{
    word-spacing: 14px;
}
.screen-fir .hide .select .hide-list li{
    display: inline-block;
    padding-top: 15px;
    font-size: 12px;
    font-family: 宋体;
    color: #666666;
    /*border-left: 1px solid #e5e5e5;*/
    list-style-type: none;
}
.screen-fir .hide .select .hide-list li:first-child{
    display: block;
    font-family: 宋体;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}
.screen-fir .hide .select .hide-list .line{
    display: inline-block;
    margin-left: 14px;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    border: 0;
}
.screen-fir .hide .pic{
    float: left;
    width: 260px;
    height: 360px;
    background: url(../images/pic8.jpg) no-repeat center;
    /*background-color: #000;*/
}
.screen-fir .hide .logo{
    float: left;
    width: 280px;
    height: 360px;
    background: url(../images/pic9.jpg) no-repeat center;
    /*background-color: #333;*/
}









.screen-sec{
    width:100%;
    height: 430px;
    margin-top: 30px;
}
.screen-sec .main{
    height: 430px;
    border:1px solid #e5e5e5;
}
.screen-sec .arrow{
    display: inline-block;
    float: left;
    width: 20px;
    height: 45px;
    margin-top: 170px;
    color: #ffffff;
    background-color: #e5e5e5;
    text-align: center;
    line-height: 45px;
}
.screen-sec .arrow:hover{
    background-color: #aaaaaa;
}
.screen-sec .arrowRight{
    float: right;
}
.screen-sec .frame-goods{
    position: relative;
    display: inline-block;
    margin-left: 30px;
    margin-top: 50px;
    width: 1080px;
    height: 360px;
    overflow: hidden;
}
.screen-sec .goods{
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: inline-block;
    width: 200px;
    height: 315px;
}
.screen-sec .goods2{
    left:220px;
}
.screen-sec .goods3{
    left: 440px;
}
.screen-sec .goods4{
    left: 660px;
}
.screen-sec .goods5{
    left: 880px;
}
.screen-sec .goods6{
    left: 1100px;
}
.screen-sec .goods7{
    left: 1320px;
}
.screen-sec .goods8{
    left: 1540px;
}
.screen-sec .goods9{
    left: 1760px;
}
.screen-sec .goods10{
    left: 1980px;
}


.screen-sec .goods p{
    height: 30px;
    margin-top: 10px;
    font-size: 12px;
    font-family: 宋体;
    color: #666666;
}
.screen-sec .goods p span{
    font-family: Verdana;
}
.screen-sec .goods .price{
    margin-top: 7px;
}
.screen-sec .goods .price span{
    font-family: Arial;
    font-size: 20px;
    color: #fe4277;
}
.screen-sec .goods .price del{
    font-family: Arial;
    font-size: 14px;
    color: #666666;
}
.screen-sec .goods .price a{
    font-family: 微软雅黑;
    font-size: 14px;
}
.screen-sec .goods .buy{
    margin-top: 7px;
    width: 200px;
    height: 35px;
    background-color: #ff5384;
    color: #ffffff;
    font-family: 微软雅黑;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
}
